**
!src/
!src/*.c
!src/*.h
!src/*.inc
!scripts/
!scripts/fissiondb/
!scripts/fissiondb/*.py
!scripts/fissiondb/py.typed
!scripts/serve_anchors.py
!scripts/check_anchor_s3.py
!Makefile
!pyproject.toml
!setup.py
!MANIFEST.in
!README.md
!LICENSE
!NOTICE
